RewriteEngine On

RewriteCond %{REQUEST_FILENAME}  -f
RewriteRule ^(.*)\.(gif|jpg|png|jpeg|css|js|swf|pdf|html|htm)$ $1.$2 [L,NC]

RewriteCond %{REQUEST_FILENAME}  -f [OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ route.php?url_route_htaccess=$1 [L,QSA]
